decord>=0.6.0
pycocotools>=2.0.10
timm>=1.0.17
numpy>=1.26
tqdm
ftfy==6.1.1
regex
iopath>=0.1.10
typing_extensions
huggingface_hub
triton-windows; sys_platform == 'win32'
triton; sys_platform != 'win32'
./src/sam3